Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
clouds/102692_1/all.npz
clouds/102692_1/all.pcd
clouds/102692_1/filtered.out
clouds/102692_1/info.json
clouds/102692_1/raw_grasp.out
clouds/102692_1/scored.out
clouds/35059_1/all_collision.pcd
clouds/35059_1/all.npz
clouds/35059_1/all.pcd
clouds/35059_1/info.json
grasp_src/cmake_install.cmake
grasp_src/CMakeCache.txt
grasp_src/Makefile
grasp_src/CMakeFiles/cmake.check_cache
grasp_src/CMakeFiles/CMakeDirectoryInformation.cmake
grasp_src/CMakeFiles/CMakeError.log
grasp_src/CMakeFiles/CMakeOutput.log
grasp_src/CMakeFiles/Makefile.cmake
grasp_src/CMakeFiles/Makefile2
grasp_src/CMakeFiles/progress.marks
grasp_src/CMakeFiles/TargetDirectories.txt
grasp_src/CMakeFiles/3.16.3/CMakeCCompiler.cmake
grasp_src/CMakeFiles/3.16.3/CMakeCUDACompiler.cmake
grasp_src/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
grasp_src/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
grasp_src/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CUDA.bin
grasp_src/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
grasp_src/CMakeFiles/3.16.3/CMakeSystem.cmake
grasp_src/CMakeFiles/3.16.3/CompilerIdC/a.out
grasp_src/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/a.out
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/CMakeCUDACompilerId.cu
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.fatbin
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.fatbin.c
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.o
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.reg.c
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.sm_30.cubin
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.o
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
grasp_src/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.sm_30.cubin
grasp_src/CMakeFiles/3.16.3/CompilerIdCXX/a.out
grasp_src/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
grasp_src/CMakeFiles/grasp_gen.dir/build.make
grasp_src/CMakeFiles/grasp_gen.dir/cmake_clean.cmake
grasp_src/CMakeFiles/grasp_gen.dir/CUDA.includecache
grasp_src/CMakeFiles/grasp_gen.dir/CXX.includecache
grasp_src/CMakeFiles/grasp_gen.dir/depend.internal
grasp_src/CMakeFiles/grasp_gen.dir/depend.make
grasp_src/CMakeFiles/grasp_gen.dir/DependInfo.cmake
grasp_src/CMakeFiles/grasp_gen.dir/flags.make
grasp_src/CMakeFiles/grasp_gen.dir/grasp_gen.cpp.o
grasp_src/CMakeFiles/grasp_gen.dir/link.txt
grasp_src/CMakeFiles/grasp_gen.dir/PointCloud.cu.o
grasp_src/CMakeFiles/grasp_gen.dir/progress.make
grasp_src/__pycache__/utils.cpython-37.pyc
nautilus_buffer/6500_raw.out
nautilus_buffer/6500.out
nautilus_buffer/6500.pcd
nautilus_buffer/7015.pcd
nautilus_buffer/7119_raw.out
nautilus_buffer/7119.out
nautilus_buffer/7119.pcd
nautilus_buffer/8997_raw.out
nautilus_buffer/8997.out
nautilus_buffer/8997.pcd
nautilus_buffer/9003_raw.out
nautilus_buffer/9003.out
nautilus_buffer/9003.pcd
nautilus_buffer/10036_raw.out
nautilus_buffer/10036.out
nautilus_buffer/10036.pcd
nautilus_buffer/10905_raw.out
nautilus_buffer/10905.out
nautilus_buffer/10905.pcd
nautilus_buffer/35059_raw.out
nautilus_buffer/35059.out
nautilus_buffer/40417_raw.out
nautilus_buffer/40417.out
nautilus_buffer/40417.pcd
nautilus_buffer/41083_raw.out
nautilus_buffer/41083.out
nautilus_buffer/41083.pcd
nautilus_buffer/46427_raw.out
nautilus_buffer/46427.out
nautilus_buffer/46427.pcd
nautilus_buffer/100767_raw.out
nautilus_buffer/100767.out
nautilus_buffer/100767.pcd
nautilus_buffer/100837_raw.out
nautilus_buffer/100837.out
nautilus_buffer/100837.pcd
nautilus_buffer/100839_raw.out
nautilus_buffer/100839.out
nautilus_buffer/100839.pcd
nautilus_buffer/101413_raw.out
nautilus_buffer/101413.out
nautilus_buffer/101413.pcd
nautilus_buffer/101420_raw.out
nautilus_buffer/101420.out
nautilus_buffer/101420.pcd
nautilus_buffer/101917_raw.out
nautilus_buffer/101917.out
nautilus_buffer/101917.pcd
nautilus_buffer/101940_raw.out
nautilus_buffer/101940.out
nautilus_buffer/101940.pcd
nautilus_buffer/102423_raw.out
nautilus_buffer/102423.out
nautilus_buffer/102423.pcd
nautilus_buffer/102527_raw.out
nautilus_buffer/102527.out
nautilus_buffer/102527.pcd
nautilus_buffer/102629_raw.out
nautilus_buffer/102629.out
nautilus_buffer/102629.pcd
nautilus_buffer/102630_raw.out
nautilus_buffer/102630.out
nautilus_buffer/102630.pcd
nautilus_buffer/102655_raw.out
nautilus_buffer/102655.out
nautilus_buffer/102655.pcd
nautilus_buffer/102665_raw.out
nautilus_buffer/102665.out
nautilus_buffer/102665.pcd
nautilus_buffer/102963_raw.out
nautilus_buffer/102963.out
nautilus_buffer/102963.pcd
nautilus_buffer/103230_raw.out
nautilus_buffer/103230.out
nautilus_buffer/103230.pcd
nautilus_buffer/103339_raw.out
nautilus_buffer/103339.out
nautilus_buffer/103339.pcd
nautilus_buffer/103452_raw.out
nautilus_buffer/103452.out
nautilus_buffer/103452.pcd
nautilus_buffer/103528_raw.out
nautilus_buffer/103528.out
nautilus_buffer/103528.pcd
pcloud_src/env.py
